<h1 class = "">Introduce of JTA (Jay tennis academic)</h1>
<h3 class = "">This is the tennis. this is the Tennis Co, Ltd
				With the management philosophy that should help Korean sports development, we started to develop various tennis equipments in 2004 by developing tennis practice machine.

				We have tried many trials and errors and failures, but we have always tried to fill the shortage. It was no happiness for us to make an idea, make a sample, and test it.

				We will share the happiness with our customers and make tennis a more beautiful society.

				Please keep an eye on it and ask for your interest and love.

				Thanks
</h3>
<sub>CEO Jay</sub>