<!--The content below is only a placeholder and can be replaced.-->
<div class = "col-md-10 col-md-offset-1 container" style = "">
  <div class = "col-md-12 header">
      <img src = "../assets/img/tennis_logo.jpg"/>
      <div class = "pull-right header-buttons">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      </div>
  </div>
  <div class = "col-md-12 container">
    <nav class="navbar sticky-top navbar-dark bg-primary">
      <!-- Navbar content -->
        <a routerLink = "" routerLinkActive = "active" class="navbar-brand">Index </a>
        <!-- <a routerLink = "" routerLinkActive = "active" class="navbar-brand">Sticky top</a>  -->
    </nav>
  </div>
  <router-outlet></router-outlet>



  <div class = "col-md-12">footer</div>
</div>
